html {
  background-color: #f2f3f3;
  color: rgba(0, 0, 0, 0.84);
}

*[data-hue=background] {
  background-color: #f2f3f3;
  color: rgba(0, 0, 0, 0.84);
  fill: rgba(0, 0, 0, 0.84);
}

*[data-hue=foreground] {
  background-color: #fbfbfc;
  color: rgba(0, 0, 0, 0.84);
  fill: rgba(0, 0, 0, 0.84);
}

*[data-hue=primary] {
  background-color: #244C88;
  color: #fff;
  fill: #fff;
}

*[data-hue=accent] {
  background-color: #F05E23;
  color: #fff;
  fill: #fff;
}

*[data-hue=positive] {
  background-color: #2dbc4e;
  color: #fff;
  fill: #fff;
}

*[data-hue=negative] {
  background-color: #af1629;
  color: #fff;
  fill: #fff;
}

input, select {
  display: block;
  position: relative;
  padding: 0.5rem;
  outline: none;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.54);
  border-radius: 2px;
}
input[data-status=error], select[data-status=error] {
  border-color: #af1629;
}
input[data-status=warn], select[data-status=warn] {
  border-color: #F05E23;
}
input[data-status=success], select[data-status=success] {
  border-color: #2dbc4e;
}
input[data-message], select[data-message] {
  margin-bottom: 15px;
}
input[data-message]:after, select[data-message]:after {
  position: absolute;
  display: block;
  content: attr(data-message);
  background: rgba(0, 0, 0, 0.54);
  color: #fff;
  display: block;
  padding: 4px 8px;
  font-size: 10px;
  top: 100%;
  left: -1px;
  right: -1px;
  white-space: pre;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
input[data-message][data-status=error]:after, select[data-message][data-status=error]:after {
  background: #af1629;
}
input[data-message][data-status=warn]:after, select[data-message][data-status=warn]:after {
  background: #F05E23;
}
input[data-message][data-status=success]:after, select[data-message][data-status=success]:after {
  background: #2dbc4e;
}
input[type=radio], input[type=checkbox], select[type=radio], select[type=checkbox] {
  display: none !important;
}
input:focus, select:focus {
  border-color: #244C88;
}
input:disabled, select:disabled {
  border-color: #fbfbfc;
}

/* Button Mixins */
/* Button Global */
button {
  display: inline-flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  outline: none;
  margin: 0.1rem;
  padding: 0 0.75rem;
  height: 2.25rem;
  border: 0.047rem solid;
  border-radius: 0.125rem;
  box-shadow: 0 0.15rem 0.5rem -0.25rem rgba(0, 0, 0, 0.8), inset 0 0.063rem #f2f3f3, inset 0 -0.188rem rgba(0, 0, 0, 0.15);
  font: bold 1rem;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  text-decoration: none;
  text-shadow: 0 0.063rem #222;
  cursor: pointer;
  border-color: #292936;
  /* Themes */
}
button > * {
  margin: 0 0.125rem;
  flex: none;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
}
button > svg {
  height: 1.25rem;
}
button:hover:not(:disabled) {
  -webkit-filter: brightness(115%);
  /* Safari 6.0 - 9.0 */
  filter: brightness(115%);
  /*background-color: darken($btn-color, 6%);
  box-shadow: 0 .125rem $off-wht, inset 0 .063rem $off-wht, inset 0 -.188rem lighten($btn-color, 2%);*/
}
button:active:not(:disabled) {
  /*box-shadow: 0 .063rem $off-wht, inset 0 0 1.094rem darken($btn-color, 40%), inset 0 .063rem darken($btn-color, 20%),inset 0 -0.188rem darken($btn-color, 20%);*/
}
button[data-hue=primary] {
  border-color: black;
}
button[data-hue=primary]:hover:not(:disabled) {
  -webkit-filter: brightness(115%);
  /* Safari 6.0 - 9.0 */
  filter: brightness(115%);
  /*background-color: darken($btn-color, 6%);
  box-shadow: 0 .125rem $off-wht, inset 0 .063rem $off-wht, inset 0 -.188rem lighten($btn-color, 2%);*/
}
button[data-hue=primary]:active:not(:disabled) {
  /*box-shadow: 0 .063rem $off-wht, inset 0 0 1.094rem darken($btn-color, 40%), inset 0 .063rem darken($btn-color, 20%),inset 0 -0.188rem darken($btn-color, 20%);*/
}
button[data-hue=accent] {
  border-color: black;
}
button[data-hue=accent]:hover:not(:disabled) {
  -webkit-filter: brightness(115%);
  /* Safari 6.0 - 9.0 */
  filter: brightness(115%);
  /*background-color: darken($btn-color, 6%);
  box-shadow: 0 .125rem $off-wht, inset 0 .063rem $off-wht, inset 0 -.188rem lighten($btn-color, 2%);*/
}
button[data-hue=accent]:active:not(:disabled) {
  /*box-shadow: 0 .063rem $off-wht, inset 0 0 1.094rem darken($btn-color, 40%), inset 0 .063rem darken($btn-color, 20%),inset 0 -0.188rem darken($btn-color, 20%);*/
}
button[data-hue=positive] {
  border-color: black;
}
button[data-hue=positive]:hover:not(:disabled) {
  -webkit-filter: brightness(115%);
  /* Safari 6.0 - 9.0 */
  filter: brightness(115%);
  /*background-color: darken($btn-color, 6%);
  box-shadow: 0 .125rem $off-wht, inset 0 .063rem $off-wht, inset 0 -.188rem lighten($btn-color, 2%);*/
}
button[data-hue=positive]:active:not(:disabled) {
  /*box-shadow: 0 .063rem $off-wht, inset 0 0 1.094rem darken($btn-color, 40%), inset 0 .063rem darken($btn-color, 20%),inset 0 -0.188rem darken($btn-color, 20%);*/
}
button[data-hue=negative] {
  border-color: black;
}
button[data-hue=negative]:hover:not(:disabled) {
  -webkit-filter: brightness(115%);
  /* Safari 6.0 - 9.0 */
  filter: brightness(115%);
  /*background-color: darken($btn-color, 6%);
  box-shadow: 0 .125rem $off-wht, inset 0 .063rem $off-wht, inset 0 -.188rem lighten($btn-color, 2%);*/
}
button[data-hue=negative]:active:not(:disabled) {
  /*box-shadow: 0 .063rem $off-wht, inset 0 0 1.094rem darken($btn-color, 40%), inset 0 .063rem darken($btn-color, 20%),inset 0 -0.188rem darken($btn-color, 20%);*/
}
button[data-hue=foreground] {
  border-color: #333333;
}
button[data-hue=foreground]:hover:not(:disabled) {
  -webkit-filter: brightness(115%);
  /* Safari 6.0 - 9.0 */
  filter: brightness(115%);
  /*background-color: darken($btn-color, 6%);
  box-shadow: 0 .125rem $off-wht, inset 0 .063rem $off-wht, inset 0 -.188rem lighten($btn-color, 2%);*/
}
button[data-hue=foreground]:active:not(:disabled) {
  /*box-shadow: 0 .063rem $off-wht, inset 0 0 1.094rem darken($btn-color, 40%), inset 0 .063rem darken($btn-color, 20%),inset 0 -0.188rem darken($btn-color, 20%);*/
}
button[data-hue=background] {
  border-color: #252828;
}
button[data-hue=background]:hover:not(:disabled) {
  -webkit-filter: brightness(115%);
  /* Safari 6.0 - 9.0 */
  filter: brightness(115%);
  /*background-color: darken($btn-color, 6%);
  box-shadow: 0 .125rem $off-wht, inset 0 .063rem $off-wht, inset 0 -.188rem lighten($btn-color, 2%);*/
}
button[data-hue=background]:active:not(:disabled) {
  /*box-shadow: 0 .063rem $off-wht, inset 0 0 1.094rem darken($btn-color, 40%), inset 0 .063rem darken($btn-color, 20%),inset 0 -0.188rem darken($btn-color, 20%);*/
}
button:focus {
  outline: 0.15rem solid red;
}
button:disabled {
  cursor: not-allowed;
  -webkit-filter: grayscale(66%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(66%);
}

.ddlscript-component-panel {
  border-radius: 4px;
  border: 1px solid #f2f3f3;
  box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.35), 0 0.1875rem 0.0625rem -0.125rem rgba(0, 0, 0, 0.35), 0 0.0625rem 0.3125rem 0 rgba(0, 0, 0, 0.35);
}
.ddlscript-component-panel-title {
  font-size: 18px;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #f2f3f3;
}
.ddlscript-component-busyspinner {
  border: 3px solid transparent;
  display: block;
  margin: auto;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  opacity: 0.85;
  border-left-color: #fff;
  border-right-color: #fff;
  -webkit-animation-name: keyframes_busySpinner;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: keyframes_busySpinner;
  -moz-animation-duration: 1000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: keyframes_busySpinner;
  -ms-animation-duration: 1000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-transition: rotate(360deg);
  animation-name: keyframes_busySpinner;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.ddlscript-component-busyspinner[data-size=small] {
  width: 2rem;
  height: 2rem;
}
.ddlscript-component-busyspinner[data-size=tiny] {
  width: 1.25rem;
  height: 1.25rem;
  border-width: 2px;
}
.ddlscript-component-busyspinner[data-size=nano] {
  width: 1rem;
  height: 1rem;
  border-width: 1px;
}
@-moz-keyframes keyframes_busySpinner {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes keyframes_busySpinner {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes keyframes_busySpinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=ddlscript.css.map */
