&-globalheader {

	display: flex;
	justify-content: stretch;
	align-items: center;
	flex-wrap: nowrap;

	& > .logo {
		flex: none;
		display: block;
		padding: 0 1rem;
		opacity: 0.666;

		&:hover {
			opacity: 1;
		}

		svg {
			height: 1.5rem;
		}
	}

	& > .menu {
		flex: 1 100%;
		text-align: center;
	}

	& > .account {
		border-left: 1px solid var(--color-divider);
		flex: none;
		height: 3.5rem;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		cursor: pointer;
		padding:0 1rem;

		&:hover {
			background: var(--color-background);
			filter: brightness(1.125);
		}

		> span {
			margin: 0 2rem 0 0;
			white-space: nowrap;
		}

		> svg {
			flex: none;
			height: 1.5rem;
		}
	}
}