&-panel {
    border-radius: 0.8rem;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.08);

    &-title {
        font-weight: 700;
        padding: 1rem;
        border-bottom: 1px solid darken($color-light-gray, 0.2);
    }
}